<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="css/styles.css">
</head>
<body>
	<h1>Pillars.js <span>Make it easy!</span></h1>
	<p>Tu HTML engine es {{gw.ua.engine}}</p>
	<p>El método de la petición es: {{gw.method}}</p>
</body>
</html>